/**
 * Distribute items by circle (like clock)
 */
@mixin distribute-on-circle( $nb-items, $circle-size, $item-size) {
    $half-item: ($item-size / 2);
    $half-parent: ($circle-size / 2);
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    list-style: none;
    box-sizing: content-box;
    > li {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: $item-size;
        height: $item-size;
        margin: -$half-item;
    }
    $angle: (360 / $nb-items);
    $rot: -60;
    @for $i from 1 through $nb-items {
        > :nth-of-type(#{$i}) {
            transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
        }
        $rot: ($rot + $angle);
    }
}